@model DoQuangMinh_2210900042_Project2.Models.QUAN_TRI

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QUAN_TRI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tai_khoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tai_khoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mat_lhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mat_lhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trang_thai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trang_thai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
