@model IEnumerable<DoQuangMinh_2210900042_Project2.Models.PHIEU_GIAM_GIA>

@{
    ViewBag.Title = "Index";
}

<h2>Phiếu giảm giá</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ma_GG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.So_tien_giam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngay_het_han)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trang_thai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ma_GG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.So_tien_giam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngay_het_han)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trang_thai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ma_PGG }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ma_PGG }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ma_PGG })
        </td>
    </tr>
}

</table>
